@import "@/renderer/components/styles/global.scss";

.form_label {
  width: 150px;
}

.form_item_min {
  width: 150px;
}

.form_select {
  width: 250px;
}

// Memo: scoped内の影響でdeepを付ける必要がある
:deep(.right input) {
  text-align: right;
}
