// 変数定義
@import "./colors.scss";

// ヘッダ関係
$header_height: 30px;

// フッタ関係
$footer_height: 20px;

// 入力画面関係
// 標準文字サイズ
$form_font_size: 0.8rem;
$form_textfield_height: 30px;
$form_selectbox_height: 30px;
